@import "tailwindcss";
@plugin "daisyui";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* same as bg-gray-900 */ 
  color: white;
}


body {
  @apply bg-gray-900 text-white; /* or your app's original styling */
}


input {
  color: black;
}

::placeholder {
  color: black; /* light gray */
}